<div class="container text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @purchase_order.id %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @purchase_order.date_created %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_order.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @purchase_order.total_price %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
</div>